@import url("https://fonts.googleapis.com/css?family=Lilita+One");

*{
    -fx-font-family: 'Lilita One';
}

.root{
    -fx-background-color:  #3E49BB;
}

.text{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
    -fx-effect: dropshadow(one-pass-box, black, 0, 0, 0, 1.5);
}

#pointsChallengerLabel .text{
    -fx-fill: #ffcd00;
}

#rejectButton{
    -fx-font-size: 12px;
    -fx-background-color:  #EC4C32;
}

#acceptButton{
    -fx-font-size: 12px;
    -fx-background-color:  #32c12c;
}
