@import url("https://fonts.googleapis.com/css?family=Lilita+One");

*{
    -fx-font-family: 'Lilita One';
}

.root{
    -fx-background-color:  #3E49BB;
}

.text{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
    -fx-effect: dropshadow(one-pass-box, black, 0, 0, 0, 1.5);
}

.text-field .text{
    -fx-stroke-width: 0px;
    -fx-effect: none;
}

#done{
    -fx-font-size: 20px;
    -fx-background-color:  #f4a802;
}


