@import url("https://fonts.googleapis.com/css?family=Lilita+One");

*{
    -fx-font-family: 'Lilita One';
}

.root{
    -fx-background-color:  #3E49BB;
}

.text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
}

#timeExpiredLabel .text{
    -fx-fill: #EC4C32;
}
